@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}


html,
body {
    line-height: 1;
	font-weight: normal;
    font-family: 'Nunito', sans-serif;
    color: #2f4858;
    overflow-x: hidden;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.31;
    text-align: left;
}

li {
    width: 214px;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}

.intro {
    background-image: url(../images/pattern-2-row.svg);
    background-repeat: no-repeat;
    padding-top: 54px;
    margin-top: 144px;
    padding-bottom: 180px;
}

.wrapper {
    max-width: 1171px;
    text-align: center;
}

.intro__subtitle {
    font-size: 1.75rem;
    line-height: 1.29;
    text-transform: uppercase;
}

.intro__title {
    font-size: 3.375rem;
    font-weight: 600;
    max-width: 1074px;
    line-height: 1.04;
    margin-top: 15px;
    margin-bottom: 25px;
}

.intro__text {
    font-size: 1.125rem;
    line-height: 1.56;
}

.btn {
    width: 214px;
    height: 50px;
    padding: 17px 20px;
    border-radius: 25px;
    background-color: #f26419;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
}

.intro__btn {
    margin-top: 20px;
}

.block {
    background-image: url(../images/phone1.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.block__text {
    font-size: 1.125rem;
    line-height: 1.56;
    text-align: left;
    max-width: 730px;
}

.block__columns {
    height: 690px;
}

.block__left {
    margin-top: 190px;
}

.block__list {
    font-size: 1.125rem;
    line-height: 1.11;
}

.blockg__lists {
    width: 557px;
}

.block__btn {
    display: block;
    margin-top: 15px;
}

.block-color {
    background-color: #2f4858;
    color: #fff;
}

.transportation {
     background-image: url(../images/phone2.png), url(../images/grid.svg);
}

.food {
    background-image: url(../images/phone3.png);
}

.equip {
    background-image: url(../images/phone4.png), url(../images/grid.svg);
}

.management {
    background-image: url(../images/phone5.png);
}

@media (max-width: 1400px) {

    .block {
        background-position: top;
        background-size: 2500px;
    }
}

@media (max-width: 1270px) {
    
    .wrapper {
        max-width: 1100px;
    }

    .block {
        background-size: 2000px;
    }

    .block__text {
        max-width: 700px;
    }
}

@media (max-width: 1170px) {
    
    .wrapper {
        max-width: 900px;
    }

    .block {
        height: 850px;
    }
}

@media (max-width: 996px) {

    h2 {
        width: 500px;
    }
    
    .wrapper {
        max-width: 800px;
    }

    .block {
        height: 900px;
    }

    .block, .food, .management  {
        background-image: none;
    }

    .transportation, .equip {
        background-image: url(../images/grid.svg);
   }

    .block__text {
        max-width: 500px;
    }
}

@media (max-width: 876px) {
    
    .wrapper {
        max-width: 700px;
    }
}

@media (max-width: 743px) {

   .intro__subtitle {
    max-width: 500px;
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
    margin-bottom: 15px;
    }

    .intro__title {
        font-size: 3.2rem;
        width: 550px;
        margin: 0 auto;
    }

    .intro__text {
        width: 500px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .block {
        height: 700px;
    }

    .block__left {
        margin-top: 50px;
    }

    h2 {
        margin: 0 auto;
        text-align: center;
    }

    .block__text {
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
    }

    .blockg__lists {
        margin: 0 auto;
    }

    .block__btn {
        margin: 0 auto;
    }
}

@media (max-width: 643px) {

    h2 {
        width: 400px;
    }

    .wrapper {
        max-width: 400px;
    }

    .intro__title {
        font-size: 3rem;
        width: 400px;
    }

    .intro__subtitle {
        max-width: 400px;
        font-size: 1.3rem;
    }

    .intro__text {
        width: 400px;
    }

    .block {
        height: 850px;
    }

    .block__text {
        max-width: 400px;
    }

    .blockg__lists {
        width: 443px;
    }

    li {
        margin: 0 auto;
    }

}

@media (max-width: 432px) {

    .intro__subtitle {
        font-size: 1.1rem;
    }

    .intro__title {
        font-size: 2.8rem;
    }

    .intro__text, .intro__subtitle, .intro__title, .block__text {
        width: 350px;
    }

    h2 {
        max-width: 350px;
    }

    .intro__text, .intro__subtitle, .intro__title, .block__text {
        width: 300px;
    }
    
    h2 {
        max-width: 300px;
    }

    .block {
        height: 1050px;
    }

    .block__btn {
        margin: 0 auto;
    }

    .blockg__lists {
        margin-bottom: 15px;
    }
}

